<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<input id="all" type="radio" name="tab_item">
    <label class="tab_item" for="all" onclick="location.href='/'">Main</label>

<input id="todolist" type="radio" name="tab_item">
    <label class="tab_item" for="todo" onclick="location.href='/todo/home'">TO-DO LIST</label>

<input id="brainstorming" type="radio" name="tab_item">
    <label class="tab_item" for="brainstorming" onclick="location.href='/'">Brainstorming</label>

<input id="book" type="radio" name="tab_item">
    <label class="tab_item" for="book" onclick="location.href='/book'">BOOK</label>
</body>
</html>