<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study Note</title>

    <link rel="stylesheet" href="/static/index.css">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://kit.fontawesome.com/2adf3c10c8.js" crossorigin="anonymous"></script>
</head>
<body oncontextmenu="return false" onselectstart="return false">
<div id="wrap">
    <div class="tabs">
        {% include "header.html"%}

        {%if session['userid']%}
        <div class="tab_content_loginresult">
            <div class="tab_logout">
                <button onclick="location.href='/logout'">logout</button>
            </div>

            <div class="tab_content_mid">
                <h1 id="clock">0:00:00</h1>
                <h2 class="welcome">안녕하세요, {{session['userid']}}님!</h2>

                <div id="quote">
                    <span></span><br>
                    <span></span>
                </div>
            </div>
        </div>
        {%else%}
        <form class="tab_content" id="main_content" action="/loginresult" method="post">
            <div class="loginform_back">
                <div class="main_page">
                    <h2><i class="fa-solid fa-book-open"></i> Study Note <i class="fa-solid fa-book-open"></i></h2>
                    <input type="text" name="userid" placeholder="ID" spellcheck="false" maxlength="15" required>
                    <div class="pswpart">
                        <input type="password" name="psw" id="psw" placeholder="PASSWORD" spellcheck="false" maxlength="15" required>
                        <i class="fa-solid fa-eye" id="eye"></i>
                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for mes in messages %}
                    <span class="flash">{{ mes }}</span>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <button type="submit" class="signin">SIGN IN</button>
                    <a class="signup" href="/signup">SIGN UP</a>
                </div>
            </div>
        </form>
        {%endif%}
   </div>

    {% include "footer.html" %}
</div>

</body>
<script>
        //비밀번호 확인
        $("#eye").on("click", function () {
            if ($("#psw").attr("type") == "password") {
                $("#psw").attr("type", "text");
            } else {
                $("#psw").attr("type", "password");
            }
        });

</script>
<script src="/static/js/clock.js"></script>
<script src="/static/js/quotes.js"></script>
</html>
